---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1060">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Reliable Plumbing for Calgary Homes and Businesses</h1>
            <p class="cs-text">
               Are you in need of expert plumbing services in Calgary? Look no further than Ashbrooke Plumbing. With years of experience and a dedication to customer satisfaction, we're your go-to choice for all your plumbing needs.
            </p>
            <a href="" class="cs-button-solid">Book Appointment</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/icons8-home.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Residential</h3>
                <p class="cs-item-text">
                    From fixing leaky faucets to installing new fixtures, our residential plumbing services cover all aspects of home plumbing.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/icons8-residential.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Commercial</h3>
                <p class="cs-item-text">
                    From restaurants to office buildings, we have the expertise to handle commercial plumbing projects of all sizes.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/icons8-construction.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">New Construction</h3>
                <p class="cs-item-text">
                   Our experienced team will work closely with you and your contractors to ensure that your plumbing systems are installed correctly.
                </p>
            </li>
        </ul>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero.png">
        <source media="(min-width: 601px)" srcset="/assets/images/hero.png">
        <img decoding="async" src="/assets/images/hero.png" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-12">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">5/5 Star Reviews</span>
            <h2 class="cs-title">Why Choose Us?</h2>
            <p class="cs-text">
                At Army Electric, we pride ourselves on delivering exceptional electrical solutions tailored to meet the unique needs of our clients in Toronto and beyond. Here are just a few reasons why we stand out from the competition:
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild.svg" alt="heart icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Customer Satisfaction</h3>
                <p class="cs-item-text">
                    We prioritize customer satisfaction above all else. Our team works tirelessly to ensure that every project exceeds your expectations, delivering quality results that you can rely on 
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/toolbox.svg" alt="toolbox icon" width="42" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Experienced Staff</h3>
                <p class="cs-item-text">
                    With years of experience in the industry, our skilled technicians and Plumbers are equipped with the knowledge and expertise to handle any Plumbing project, big or small. 
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/ribbon.svg" alt="ribbon icon" width="32" height="42" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">Licensed & Insured</h3>
                <p class="cs-item-text">
                   Rest easy knowing that our company is fully licensed and insured, ensuring compliance with all safety regulations and providing you with peace of mind. 
                </p>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Get Free Quote</a>
    </div>
</section>

 
<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-284">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-content">
            <span class="cs-topper">Steps</span>
            <h2 class="cs-title">Our Process from Start to Finish</h2>
            <p class="cs-text">
               At Ashbrooke Plumbing, we believe in transparency and efficiency. That's why we've developed a streamlined process to ensure your project is completed smoothly and to your satisfaction:
            </p>
            <a href="" class="cs-button-solid">Read More</a>
        </div>
        <!-- Right Section -->
        <ul class="cs-right-section">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <p class="cs-item-text">
                    <strong>Initial Consultation</strong> We begin by sitting down with you to understand your needs, preferences, and budget.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <p class="cs-item-text">
                    <strong>Detailed Planning</strong> Once we have a clear understanding of your project goals, our team develops a detailed plan outlining the scope of work, timeline, and materials required.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <p class="cs-item-text">
                    <strong>Expert Execution</strong> With the plan in place, our experienced technicians and Plumbers get to work. 
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">04</span>
                <p class="cs-item-text">
                    <strong>Final Inspection</strong> After completing the project, we conduct a thorough inspection to ensure everything is functioning correctly and meets your satisfaction.
                </p>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-45">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Take a glimpse at some of our completed projects</span>
            <h2 class="cs-title">Our Gallery</h2>
       
        </div>
        <ul class="cs-image-group">
            <!-- Image 1 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/hero1.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/hero1.png">
                    <img loading="lazy" decoding="async" src="/assets/images/hero1.png" alt="fancy house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 2 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/image1.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/image1.png">
                    <img loading="lazy" decoding="async" src="/assets/images/image1.png" alt="modern house" width="346" height="346">
                </picture>
            </li>
            <!-- Image 3 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/image2.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/image2.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/image2.png" alt="modern home at night" width="346" height="346">
                </picture>
            </li>
            <!-- Image 4 -->
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/image3.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/image3.png">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/image3.png" alt="modern home" width="346" height="346">
                </picture>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View Full Gallery</a>
    </div>
</section>
                                
 <!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1452">
    <div class="cs-container">
        <div class="cs-content">
            <!--Yellow Quote-->
            <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/quote-yellow.svg" decoding="async" alt="quote icon" width="40" height="33" loading="lazy">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Thousand of People & Companies</h2>
            <p class="cs-text">
                At Ashbrooke Plumbing, customer satisfaction is our top priority. We're proud to have served numerous clients in Calgary and beyond, providing them with reliable Plumbing solutions tailored to their needs. But don't just take our word for it – here's what some of our satisfied customers have to say about their experience with us
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <p class="cs-review">
                    When you think about collecting customer feedback, it’s easy to get overwhelmed by the sheer volume of it. With so many more customers and so many ways to connect with their feedback, it’s hard to know to where to start.
                </p>
                <div class="cs-flex-group">
             
                    <span class="cs-name">
                        George Thomas
                        
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-review">
                    It’s easy to get overwhelmed by the sheer volume of feedback. With so many more customers and so many ways to connect with their feedback, it’s hard to know to where to start.
                </p>
                <div class="cs-flex-group">
                    <span class="cs-name">
                        Mason James
                      
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                                               
                                                   

                                
                                               
                                
                                                           
    

    {% include 'components/cta.html' %}
{% endblock %}